name: CI/CD
on:
  - push
  - workflow_dispatch

jobs:
  prettier:
    name: Prettier
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          cache: "npm"
      - run: npm ci
      - run: npm run prettier

  package:
    name: Build VSIX package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          cache: "npm"
      - run: npm ci
      - run: npm run package
      - uses: actions/upload-artifact@v4
        with:
          name: vsix
          path: netpbm-*.vsix
          if-no-files-found: error

  release:
    name: Create GitHub Release
    runs-on: ubuntu-latest
    needs: package
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          cache: "npm"
      - run: npm ci
      - uses: actions/download-artifact@v5
        with:
          name: vsix
      - id: tag_name
        uses: olegtarasov/get-tag@v2.1.4
      - id: changelog_reader
        uses: mindsers/changelog-reader-action@v2
        with:
          validation_level: warn
          version: ${{ steps.tag_name.outputs.tag }}
          path: ./CHANGELOG.md
      - uses: softprops/action-gh-release@v2
        with:
          body: ${{ steps.changelog_reader.outputs.changes }}
          files: netpbm-*.vsix

  publish:
    name: Publish to Marketplace
    runs-on: ubuntu-latest
    needs: package
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          cache: "npm"
      - run: npm ci
      - run: npm run publish
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
